.container {
  height: 100vh;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  width: 80%;
  margin: auto;
}

.left-section {
  height: 100vh;
  width: 30%;
  background-color: white;
}

.middle-section {
  height: 100vh;
  /* flex-grow: 2.5; */
  border: 1px solid black;
  overflow-y: scroll;
}
.middle-section::-webkit-scrollbar {
  display: none !important;
}

.right-section {
  height: 100vh;
  flex-grow: 2;
  border: 1px solid black;
}
.home-section {
  height: 35vh;

  /* background-color: brown; */
}
.tweet-view-section {
  height: 60vh !important;
  /* background-color: yellow; */
  border: 1px solid black;
  /* margin-bottom: 1rem; */
}
.happening-view-section {
  height: 40vh;
  overflow-y: scroll;
  background-color: rgb(42, 128, 165);
}
.happening-view-section::-webkit-scrollbar {
  display: none !important;
}
.follow-view-section {
  height: 50vh;
  background-color: rgb(83, 42, 165);
}
.follow-view-section {
  height: 50vh;
  background-color: rgb(83, 42, 165);
}
