.right {
  width: 25vw;
  margin: 2rem;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  padding: 1rem;
  color: rgb(83, 100, 113);
  flex-wrap: wrap;
}

.anchorage a {
  color: rgb(83, 100, 113);
}

.anchorage a:hover {
  text-decoration: underline;
  transition: 2s;
}