.right-sidebar {
  
  background-color: #f5f8fa;
  border: 1px solid #e6ecf0;
  border-radius: 8px;
  padding:0%;
  max-height: 300px;
  overflow-y: scroll;
  width: 300px;
  box-sizing: border-box;
  
}

.right-sidebar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.right-sidebar h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom:0%;
}

.show-more-button {
  background-color: transparent;
  color: #1da1f2;
  border: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  margin-top: 8px;
}

.show-more-button:hover {
  text-decoration: underline;
}

