* {
  padding: 0;
  margin: 0;
}

.postSection {
  /* width: 40vw; */
  width: 99%;
  /* height:90vh;  */
  height: 100vh;
  /* background-color: lightgreen; */
  flex: column;
  /* padding: 0.2rem; */
}
.post {
  width: 39vw;
  height: 100vh;
  margin-left: 1%;
  /* background-color: whitesmoke; */
}

.details {
  display: flex;
  justify-content: center;
  margin-top: -1.9rem;
  margin-right: 35%;
  gap: 1rem;
  margin-bottom: 2rem;
}
.date,
.visible {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.id {
  margin-left: -0.8rem;
  font-size: 1rem;
}
.name {
  margin-left: -1rem;
  font-weight: bold;
}
.icon {
  margin-left: -0.5rem;
  color: rgb(29, 155, 240);
}

.image {
  /* width: 35vw; */
  width: 38vw;
  height: 55vh;
  border-radius: 20px;
}

.avatar {
  padding-top: 10px;
}
.icons {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.descrp {
  color: rgb(29, 155, 240);
}

.icons {
  border-radius: 50%px;
}

.icons1 {
  height: 3rem;
  width: 3rem;
  padding: 0.6rem;
  border-radius: 50%;
  /* margin-top: -0.6rem; */
  color: rgb(29, 155, 240);
  cursor: pointer;
}
/* .icons1:hover {
  background-color: aquamarine;
} */
.icons2 {
  height: 3rem;
  width: 3rem;
  padding: 0.6rem;
  border-radius: 50%;
  color: rgb(0, 186, 124);
  cursor: pointer;
}
/* .icons2:hover {
  background-color: rgb(222, 241, 235);
} */
.icons3 {
  height: 3rem;
  width: 3rem;
  padding: 0.6rem;
  border-radius: 50%;
  color: rgb(249, 24, 128);
}
.icons4 {
  height: 3rem;
  width: 3rem;
  padding: 0.6rem;
  border-radius: 50%;
  color: rgb(77, 176, 241);
}

.icons5 {
  height: 3rem;
  width: 3rem;
  padding: 0.6rem;
  border-radius: 50%;
  color: rgb(29, 155, 240);
}

.icons1:hover {
  background-color: rgb(225, 238, 246);
}
.icons2:hover {
  background-color: rgb(222, 241, 235);
}
.icons3:hover {
  background-color: rgb(247, 224, 235);
}
.icons4:hover {
  background-color: rgb(225, 238, 246);
}
.icons5:hover {
  background-color: rgb(225, 238, 246);
}

@media screen and (max-width: 1227px) {
  .postSection {
    width: 100%;
  }
}
