*{
    margin: 0;
    padding: 0;
    
}

.Login{
    display: block;
    width: 40vw;
    min-height: 550px;
    background-color: #fff;
    margin: 8vh 30vw;
    padding: 2vh 6vw;
    border-radius: 12px;
    display: block;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    color: black;
   
}
.Login hr{
width: 90%;
margin-left: 1.8vw;
}
.Logo{
    background:transparent;
    height: 2rem;
    text-align: center;

}


.Logo img{
 width: 50px;
}
.Logo h2{
    background: transparent;
    margin-bottom: 10px;
}
.Logo button{
    margin: 15px;
    background: transparent;
    width: 90%;
    display: flex;
    align-items: center;
   justify-content: center;
   margin-left: 2vw;
   border-radius: 30px;
   cursor: pointer;
   border: 1px solid #999;

}
.Logo button img{
    width: 30px;
    margin-right: 15px;
}

.Logo span{
    display: block;
    width: 25px;
    height: 15px;
    margin: auto;
    background: #fff;
    font-size: 18px;
    margin-top: -31px;
}

.Logo input{
    margin-top: 20px;
width:80%;
height: 2.5rem;
background-color: #fff;
border-radius: 5px;
font-size: 22px;
border: 1px solid #999;
padding-left: 12px;

}
.Buttons{
    background-color: #fff;
}

.Buttons button{
   
    font-size: 20px;
    color: #fff;
    width: 80%;
  margin-left: 10%;
  height: 2.5rem;
  background-color: black;
  
}
form{
    background-color: #fff;
}
.SignIn{
    margin-top: 2rem;
    background:transparent;
}
.SignIn a{
   margin-bottom: 10%;
    background:transparent;
    cursor: pointer;
}

.Login a{
    background-color: #fff;
    cursor: pointer;
}

@media screen and (max-width:780px){
  
    .Login{
      margin: 5vh 0 0 20vw;
       width: 90vw;
       padding-right: 30vw;
       align-items: center;
       box-shadow: none;
       align-items: center;
    }

}
    
