.wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-left:1rem;
    margin-right: 2rem;
  }
  .Name {
    width: 25rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .selectDate {
    margin-top: 1rem;
    height: 2rem;
  }
  .error {
    color: red;
    font-size: 0.8rem;
    text-align: start;
  }
  .nextBtn {
    background-color: rgb(135, 137, 140);
    padding: 0.8rem;
    width: 85%;
    margin-left: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
    border: none;
    border-radius: 2rem;
    color: white;
    margin-top: 6rem;
  }
  .heading {
    text-align: start;
    margin-bottom: 1rem;
    margin-top: -0.2rem;
  }
  .container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  .textContent {
    width: 50%;
    overflow-wrap: break-word;
  }
  .headingDob {
    text-align: start;
    margin-bottom: 1rem;
    margin-top: -1rem;
  
  }
  .dobError{
    color: red;
    font-size: 0.8rem;
  }
  .Container {
    height: 87vh;
    width: 87vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 29rem;
    background-color: #fff;
    border: none;
    padding: 1rem;
    color: black;
    border-radius: 1rem;
    
  }
  
  .enabled:hover {
    background-color: rgb(39, 44, 48);
  }
  .crossIcon {
     margin-right: 2rem;
     
  }
  .wrapperCrossIcon{
      font-weight: bolder;
  }
  .text{
      font-size: small;
  }
  @media screen and (max-width: 700px) {
    .Container {
      width: 100vw;
      height: 100vh;
      position: relative;
      background-color: #fff;
      border: none;
      padding: 1rem;
      position: relative;
      color: black;
    }
    .nextBtn{
      position:absolute;
      bottom: 4rem;
    }
    .headingDob {
      font-size: 1rem;
    }
  
    .heading {
      margin-top: 2rem;
      font-size: xx-large;
    }
  
    .wrapperCrossIcon {
      font-size: 1.3rem;
      margin-top: 2rem;
    }
  
    .crossIcon {
      font-size: 1.3rem;
    }
  
    .iconC {
      margin-top: 0.5rem;
    }
    .Name,.Phone,.Email{
      width: fit-content;
    }
    
    
  }
  
    